<img src="/assets/nexon-imaginator.jpg" alt="nexon-imaginator" style="width:1200px;height:400px;">

 <h2 style="color: blue;"><p>BRAND STORY</p> Drive NEW FOREVER. A Whole new range of cars from Tata Motors.</h2>

<img src="/assets/Performance.png" alt="Performance" style="width:700px;height:300px;">

<img src="/assets/Design.png" alt="Design" style="width:500px;height:300px;">

<img src="/assets/Safety.png" alt="Safety" style="width:900px;height:300px;">

<h2>OUR BRANDS</h2>

<img src="/assets/Altroz.png" alt="Altroz" style="width:400px;height:270px;">

<img src="/assets/Tigor.png" alt="Tigor" style="width:400px;height:270px;">

<img src="/assets/Tiago.png" alt="Tiago" style="width:400px;height:270px;">

<img src="/assets/Nexon.png" alt="Nexon" style="width:400px;height:270px;">

<img src="/assets/Harrier.png" alt="Harrier" style="width:400px;height:270px;">

