<style>
#myDIV {
    color: rgb(70, 130, 158);
    border: 0px solid currentcolor;
  }
  </style>
  <style>
    body {
      background-color: lightblue;
    }
   </style>
  <div id="myDIV">
<H3> TATA MOTORS 
    "Connecting Aspirations"
</H3>

<h2 style="color: rgb(6, 25, 54);"> VISION :
    We innovate mobility solutions with passion to enhance the quality of life. </h2>
    <h2 style="color:blueviolet;">MISSION :
By FY 2024, we will become the most aspirational Indian auto brand, consistently winning, by
Delivering superior financial returns Driving sustainable mobility solutions Exceeding customer expectations, and Creating a highly engaged work force.</h2>
 
<h4><b> CEO: Warren Harris (9 Sept 2014 - Present)</b></h4>
<h3> Founded: 1st Sept 1945</h3>
<h3>TATA Motors, TATA group 
</h3>

</div>
