<img src="/assets/logo4.jpg" alt="logo4" style="width:1200px;height:200px;">
<h3>At Tata Motors we believe in transparent communication and have built various touchpoints through which our stakeholders can get in touch with us.</h3>
<H3> Contact Details: </H3>

<ol>
    <li> Name: TATA Motors Ltd</li>
    <li> Email: contact@tml.com</li>
    <li> Address: International Business
        A Block, Shivasagar Estate,
        Dr. Annie Besant Road,
        Worli, Mumbai - 400018
        Contact: +91(22) 67577200
        
        
    </li><li>Business
        Tata Motors Ltd
        4th Floor, Ahura Centre
        82 Mahakali Caves Road
        MIDC, Andheri East
        Mumbai - 400093
        Contact: 022 - 62407101</li>
</ol>
